.todo:nth-child(even) {
  background-color:rgb(248, 217, 221);
}

.todo {
  display: flex;
  margin-top: 10px;
  width: 60%;
  justify-content: space-between;
  padding: 10px;
}

.todo div {
  padding: 0px 15px;
}

.remove {
  border: black 1px solid;
  background-color: lightgrey;
  /* margin-right: 20%; */
}

.done .content {
  text-decoration: line-through;
}